.hidden {
    display: none !important;
}
.disable {
    opacity: 0.3;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-component {
    margin-bottom: 50px;
}
.search-component .form-control {
    width: 90% !important;
    margin: 0 10px;
}
.list-movie .movie-item {
    margin-bottom: 20px;
}
.list-movie .movie-item h4 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}
.list-movie .movie-item h4 a {
    font-size: 16px;
}
.list-movie .movie-item p {
    font-size: 14px;
    margin-bottom: 0;
    text-align: justify;
}
.list-movie .movie-item p.synopsis {
    height: 45px;
    overflow: hidden;
}